<div class="info-div">
    <h2>Hello!</h2>
    {{!-- <ul>
      <li class="info">Your name is {{{firstName}}}</li>
      <li class="info">Your family name is {{{lastName}}}</li>
      <li class="info">The value of state is {{{state}}}</li>
    </ul> --}}
</div>