<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <h1>Welcome to Shimey's OAuth App</h1>
    <p>
      By clicking the button below, you will be redirected 
      to login with a google account and the permission to 
      access your email and profile will be requested. You 
      will then be redirected to another page where your 
      first and last name will be displayed, as well as the 
      state variable used to secure the redirect. 
    </p>
    <a href={{{link}}} class="btn btn-primary" role="button">Visit Google OAuth 2.0 Endpoint</a>
  </div>
</div>