/* li {
  font-size: 2rem;
  width: 300px;
  margin: 4px;
  padding: 4px;
  list-style: none
}

div {
  padding-top: 20px;
}

.info {
  font-size: 1.2rem;
}

.info-div {
  padding-top: 30px;
  padding-left: 50px;
} */